#map{
    height: 1000px;
    /*display: none;*/
    /*visibility: hidden;*/
    
}
#bgvid{
    height: 100%;
    width: 100%;
    padding: 0;
    background-size: cover;
}

.overlay-diamond{
    /*@media screen and (min-width: 1000px)
    css__OrOz4ipTPl…G2fU2A.css:231*/
    height: 26vw;
    width: 26vw;
    max-height: 420px;
    max-width: 420px;
    background: rgba(0,0,0,0.5);
    height: 70vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 70vw;
    z-index: 0;
}
.overlay-content{
    margin: 0 auto;
    max-width: 280px;
    position: absolute;
    text-align: center;
    width: 17vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}
.slogan{
    color: white;
}
.logo{
    color: white;
}
.logo-diamond{
    color: #FBAC3D;
}

.my-list{
    padding: 15px;
    list-style-type: none;
}
footer{
    right: 0;
    top: auto;
    bottom: 0;
    left: 0;
    /*position: fixed;*/
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding: 0;
    z-index: 0;
    margin-top: -5px;

}
.footer-tags{
    color: white;
}
.footer-tags:visited{
    color: white;
}
.footer-tags:hover{ 
    color: #FBAC3D;
}
.footer-tags:active{
    color: #FBAC3D;
}

ul > li{
    color: white;
    font-size: 110%;
    text-align: left;
    display: inline-block;
    font-style: oblique;
}
p{
    color: white;
    font-style: oblique;
    text-align: center;
}
.modal-body>p{
    color: red;
}

.name-of-restaurant{
    color: gold;
}

.rating-of-restaurant{
    color: gold;
}
.photo-of-restaurant{
    height: 200px;
    width: 100%;
    color:  gold;   
}
.review-of-restaurant{
    color:  black;
    background-color: #FBAC3D;
}
.please-enable{
    color: #FBAC3D;
}